/* index.css */
:root {
  --primary-color: ;
  --secondary-color: ;
  --background-color: ;
}

/* :root {
  --primary-color: #000000;
  --secondary-color: #f8f8f8;
  --background-color: #5be494;
}  */

/* :root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --background-color: #ee7433;
} */

@import "tailwindcss";

.primary {
  color: var(--primary-color) !important;
}
.secondary {
  background-color: var(--secondary-color) !important;
}
.background {
  background-color: var(--background-color) !important;
}